@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.topNavBar {
    background-color: #0F0F0F;
    overflow: hidden;
}

.topNavBar a {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none; 
 
}



#header {
    min-height: 80vh;
}

.header__container{
    margin-bottom: 50px;
}

.header__body {
    background: #0F0F0F;
    padding: 50px 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;  
}

.header__img {
    display: none;
}

.header__heading1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    position: relative;
    padding: 10px 0;

}

.header__heading2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    padding: 10px 0;
    
}

.header__para {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 2px;
}

.header__icons {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
}

.header__icons .fas {
    color: #9B51E0;
    font-size: 18px;
    margin: 15px 15px 0 0;
}

.header__icons p {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}

/*about me css*/

.aboutme__container {
    margin-bottom: 50px;
}

.aboutme__body {
    font-style: normal;
    font-weight: bold;
    padding: 20px 10px; 
   
}

.aboutme__img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.aboutme__wrapper {
    flex: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-top: 30px;
}

.aboutme__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.aboutme__para {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.aboutme__btn {
    background: #9B51E0;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding: 10px;
    outline: none;
    margin: 20px auto;
    width: 184px;
    height: 45px; 
}

/* service section css*/

#service__sect {
    background: #0F0F0F;
    min-height: 70vh;
}

.service__container {
    margin-bottom: 50px;   
}

.service__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 50px 10px;   
}

.service__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;

}

.services {
    display: flex;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.services h3 {
    color: #ffffff;
    font-size: 26px;
    padding: 23px 0;

}

.services .iconify {
    color: #ffffff;
    border-radius: 100%;
    background: #0F0F0F;
    border: 5px solid #9B51E0;
    box-sizing: border-box;
    font-size: 7rem;
    padding: 28px; 
    margin: 20px 0; 
}

/*project section css*/

.project__container {
    margin-bottom: 50px; 
    margin-top: 50px;  
}

.project__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 50px 20px;  
}

.project__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.project__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 20px 10px;   
}

.para__active {
    color: #9B51E0;
}

.project__para {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    word-spacing: 20px;
    margin: 40px 0;
}

.slider__wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.item {
    height: 250px;
    background: #0F0F0F;
    box-sizing: border-box;
    position: relative;
}
.item h3 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

.item > p {
    color: #ffffff;
    padding: 10px;
    line-height: 24px;
    text-align: center;
}

.item .item__icon .fab, .fas {
    color: #ffffff;
    font-size: 23px;
}

.item__icon {
    /* margin-top: 100px;
    margin-left: 20px; */
    position: absolute;
    bottom: 10;
    left: 15;
}
.item__icon2 {
    position: absolute;
    bottom: 10;
    right: 15;
}

/*contact section css*/

.contact__container {
    margin-bottom: 50px; 
    text-align: center;  
}

.contact__body {
    font-style: normal;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 50px 10px; 
    justify-content: center;
    align-self: center;
    text-align: center;
}

.contact__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    
}

.contact__para {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    
}

form {
    padding: 20px;
}

input[type="text"], input[type="email"]{
    border: 1px solid #A1A4B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    height: 45px;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

textarea {
    border: 1px solid #A1A4B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    height: 45vh;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background: #9B51E0;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding: 10px;
    outline: none;
    margin: 20px 0;
    width: 140px;
    height: 45px; 
}

.contact__para2 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
    text-align: left;

}

.contact__info {
    margin: 20px 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    order: 3;

}

.contact__info > p {
    text-align: left;
    padding-bottom: 20px;
}

.contact__info .fas {
    color: #9B51E0;
    font-size: 18px;
    margin: 15px 15px 0 0; 

}

/*footer css*/

.footer {
    background: #0F0F0F;
    height: 154px;    
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.footer .fab {
    color: #ffffff;
    font-size: 25px;
    padding-right: 25px;  
    margin: 0 0 15px 0;
    
}

.footer__para {
    color: #ffffff;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 991px) {
    .topNavBar a{
        display: none;
    }
    
    
    .topNavBar a.active {
        color: #9B51E0;
    }
    
    .topNavBar a.icon {
        float: right;
        font-size: 2rem;
        display: block;    
    }
    
    .topNavBar.responsive {
        position: relative;
    }
   
    .topNavBar.responsive a.resume__link {
        display: none;
    
    }
    .topNavBar.responsive a:not(:nth-child(6)) {
        border-bottom: 1px solid white;
    }
    .topNavBar.responsive a:not(:nth-child(7)) {
        padding-top: 50px;
    }
   
    .topNavBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 50px;
        border-bottom: none !important;
    }

    .topNavBar.responsive a {
        display: block;
        float: none;
        text-align: center;
    }

}

/*media query for desktop view*/
@media screen and (min-width: 992px) {
   /*navbar*/
  
   .topNavBar  {
       display: flex;
       flex-direction: row-reverse;
       padding: 20px;
   }
   
   .topNavBar a {
       display: inline-block;
   }

   .topNavBar .icon {
    display: none;
}

   .topNavBar .active {
       order: 6;
   }

   .topNavBar .nav2 {
    order: 5;
    }

    .topNavBar .nav3 {
    order: 4;
    }

    .topNavBar .nav4 {
    order: 3;
    }

    .topNavBar .nav5 {
    order: 2;
    }

   .topNavBar a.resume__link {
    background-color: #9B51E0;
    border-radius: 6px;
    order: 1;
    display: inline-block;
   }
   
    .topNavBar a {
        font-size: 18px;
    }

    /*header css*/

   .header__body {
       display: flex;
       flex-direction: row;
       padding: 20px 150px;
   }

   .header__wrapper {
    flex: 70%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 180px;
   }

   .header__heading1 {
    font-weight: 300;
    font-size: 44px;
    line-height: 52px;
   }

   .header__heading2 {
    font-size: 52px;
    line-height: 61px;
    
   }

   .header__para {
       padding-right: 180px;
   }

   .header__img {
    flex: 30%;
    max-width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;

    }
   
    .header__icons {
        display: flex;
        flex-direction: row;
    }
    
    .header__icons > p {
        padding-right: 75px;
    }

   /*aboutme css*/
   .aboutme__body {
    display: flex;
    flex-direction: row;
    padding: 20px 150px;
   }

   .aboutme__img {
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   
   .aboutme__wrapper {
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    padding-top: 30px;
   }

   .aboutme__heading2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    }

    .aboutme__para {
        text-align: left;
        margin-bottom: 50px;
    }

    .aboutme__btn {
        margin: 0;
    }
    /*services*/
    .services {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .service__heading2 {
        font-size: 52px;
    }

    .project__heading2 {
        font-size: 52px; 
    }

    .project__para {
        font-size: 32px;
        word-spacing: 300;
    }

    /*contact css*/
    .contact__body {
        display: flex;
        flex-direction: row;
        padding: 20px 150px;
    }

    .contact__para {
        display: none;
    }

    .reachout__wrapper {
        flex: 50%;
        max-width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
       
    
    }

    .contact__para2 {
        padding-right: 200px;
    }

    .mainform__wrapper {
        flex: 50%;
        max-width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__heading2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        display: inline-block;
        padding-bottom: 5px;
        line-height: 18px;
        margin-bottom: 80px;
    }

    textarea {
        height: 20vh;
    }
    
    /*footer*/

    .footer .fab {
        font-size: 23px;
        padding: 20px 35px 5px 0;
        
    }
}

