@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.topNavBar {
    background-color: #0F0F0F;
    overflow: hidden;
}

.topNavBar a {
    color: #FFFFFF;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none; 
   
}

.topNavBar .icon {
    display: none;
}

#header {
    min-height: 70vh;
}

.header__container{
    margin-bottom: 50px;
}

.header__body {
    background: #0F0F0F;
    padding: 10px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    
}

.header__heading1 {
    color: #FFFFFF;
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    padding: 10px 0;
    
}

.header__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    padding: 10px 0;

}

.header__para {
    color: #FFFFFF;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;

}

.header__icons {
    margin-bottom: 50px;
}

.header__icons .fas {
    color: #9B51E0;
    font-size: 18px;
    margin: 15px 15px 0 0;
}

.header__icons p {
    color: #FFFFFF;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}

/* .header__img {
    
} */

/*about me css*/

.aboutme__container {
    margin-bottom: 50px;
}

.aboutme__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 10px 20px;
    
}

.aboutme__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.aboutme__para {
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.aboutme__btn {
    background: #9B51E0;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding: 10px;
    outline: none;
    margin: 20px auto;
    width: 184px;
    height: 45px; 
}

/* service section css*/
#service__sect {
    background: #0F0F0F;
    min-height: 70vh;
}

.service__container {
    margin-bottom: 50px;   
}

.service__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 20px 20px;  
}

.service__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}

/*project section css*/
.project__container {
    margin-bottom: 50px;   
}

.project__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 20px 20px;  
}

.project__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

.project__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 20px 20px;  
}

/*contact section css*/
.contact__container {
    margin-bottom: 50px;   
}

.contact__body {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 20px 20px;  
}

.contact__heading2 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

.contact__para {
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
/* .form__wrapper {
    background-color: green;
} */
form {
    padding: 20px;
}

input[type="text"], input[type="email"]{
    border: 1px solid #A1A4B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    height: 45px;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

textarea {
    border: 1px solid #A1A4B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    height: 45vh;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background: #9B51E0;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding: 10px;
    outline: none;
    margin: 20px 0;
    width: 140px;
    height: 45px; 
}
.contact__para2 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;

}


@media screen and (max-width: 600px) {
    .topNavBar a{
        display: none;
    }

    .topNavBar a.active {
        color: #9B51E0;
    }
    
    .topNavBar a.icon {
        float: right;
        font-size: 2rem;
        display: block;
        
    }

    .topNavBar.responsive {
        position: relative;
    }

    .topNavBar.responsive a:not(:nth-child(5)) {
        border-bottom: 1px solid white;
    }
    .topNavBar.responsive a:not(:nth-child(6)) {
        padding-top: 50px;
    }
   
    .topNavBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 50px;
        border-bottom: none !important;
    }

    .topNavBar.responsive a {
        display: block;
        float: none;
        text-align: center;
    }

}